<h1><%= @user.name.capitalize %>, are you sure you want to delete this listing?</h1>

<h1><%= @listing.name %></h1>


<h2>Price: $<%= @listing.price %></h2>
<h2>Size: <%= @listing.sqm %> sqm</h2>
<h2>City: <a href="/cities/<%= @listing.city.slug %>"><%= @listing.city.name %></a></h2>

<h3>Amenities:</h3>
<ul>
  <% @listing.amenities.each do |amenity| %>
    <li><%= amenity.name %></li>
  <% end %>
</ul>

<form action="/listings/<%= @listing.slug %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Confirm Deletion" />
</form>
