<% if Helpers.logged_in?(session) %>
  <h1>Welcome <%= @user.name %>, here are the latest listings</h1>
<% else %>
  <h1>Welcome To The Amazing Real Estate Website</h1>
<% end %>



<% @listings.reverse.each do |listing| %>
  <h2><em><a href="/listings/<%= listing.slug %>"><%= listing.name %></a></em></h2>
  <ul>
    <li>Price: $<%= listing.price %></li>
    <li>Size: <%= listing.sqm %> sqm</li>
    <li>City:
      <% if !!listing.city %>
        <a href="/cities/<%= listing.city.slug %>"><%= listing.city.name %></a>
      <% end %></li>
  </ul>
<% end %>
