<h1><%= @listing.name %></h1>

<ul>
  <li>Price: $<%= @listing.price %></li>
  <li>Size: <%= @listing.sqm %> sqm</li>
  <li>City: <a href="/cities/<%= @listing.city.slug %>"><%= @listing.city.name %></a>
</ul>
